{% load crispy_forms_filters %}
<div id = "aa" class = "modal-content">

<form hx-post="{{ request.path }}", hx-target = "#aa", class="modal-content">

  <div class="modal-header">
    <h5 class="modal-title">Иловаи нақшаи инфродӣ</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div id = 'form' class="modal-body">
    {% csrf_token %}
    {{ form | crispy }}
    {{error}}
  </div>
  <div class="modal-footer">
    <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cancel</button>
    <button type="submit"  class="btn btn-primary">Save</button>
  </div>

</form>
  </div>