<div id="st{{subtopic.id}}">
    {{subtopic.name}}
    {{subtopic.print_list}}
    {{subtopic.due_date}}
    {{subtopic.excepted}}
    {{subtopic.status}}
    <button type="button" class="my-2"  hx-post="{% url 'del-subtopic' subtopic.id %}" hx-confirm="Мутмаинед?" hx-target="#st{{subtopic.id}}">
       Del </button>
    <button type="button" class="my-2"  data-bs-toggle="modal" data-bs-target="#modal"
            hx-get="{% url 'update-subtopic' subtopic.id %}"  hx-target="#dialog">
       Update </button>
    <hr>

</div>