{% load crispy_forms_filters %}
<div class="row">
    <div class="col-4 my-2">
    <select class="form-select" aria-label="select plan">
      <option>2025</option>
      <option value="1">2024</option>
      <option selected>2023</option>
      <option value="2">2022</option>
      <option value="3">2021</option>
    </select>
    </div>
 <button type="button" class="col-4 my-2" data-bs-toggle="modal" data-bs-target="#modal"
        hx-get="{% url 'add-plan' %}" hx-target="#dialog">
  Иловаи нақшаи инфродӣ
</button>
</div>

<div class="bg-success" hx-get="{% url 'get-plan' %}" hx-trigger="load" hx-target="#plan">
    <div id="plan"></div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>
