{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="media/images/main_images/school.png">
    <link rel="stylesheet" type="text/css" href = "{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    <title>{% block title %}My WebSite{% endblock %}</title>
  </head>
  <body>
    <nav class="container-fluid">
        <div class="row bg-light border-bottom">
            <div class="row col-12 col-md-10">
              <a class="col-12 col-md-2 text-center text-md-end">
                <img src="../media/images/main_images/school.png" class="col-8 col-md-3 w-25 mt-1" alt="Logo">
              </a>
              <div class="row col-12 col-md-10">
                <h5 class="col-12 text-center col-md-10 text-md-start fw-bolder">
                  Иститути омӯзиши масъалаҳои давлатҳои Осиё ва Аврупои АМИТ
                </h5>
                <p class="col-12 text-center col-md-10 text-md-start fw-bolder">
                    {% if not not_main %}
                        Равзанаи пажуҳишгар
                    {% else %}
                        {% if is_institute %}
                            Равзанаи раёсат
                         {% else %}
                            Равзанаи {{department.name}}
                        {% endif %}
                    {% endif %}
                </p>
              </div>
            </div>
            <div class="row col-12 col-md-2">
                <img src="../media/{{user.profile.image}}" class="col-4 m-1" alt="Logo">
                <div class="dropdown col-7 align-self-center text-center m-1">
                    <h5 class="dropdown-toggle" data-bs-toggle="dropdown">
                    {{user.first_name}} {{user.last_name}}
                  </h5>
                  <ul class="dropdown-menu">
                    {% if not_main %}
                    <li class="nav-item">
                      <a class="nav-link link-dark dropdown-item ps-3 pt-2" href="/">Пажуҳишгар</a></li>
                    {% endif %}
                    {% if perms.institutions.add_department and not not_main%}
                    <li class="nav-item">
                      <a class="nav-link link-dark dropdown-item ps-3 pt-2" href="/institute">Институт</a></li>
                    {% endif %}
                    {% if perms.projects.add_project and not not_main and not perms.institutions.add_department %}
                    <li class="nav-item">
                      <a class="nav-link link-dark dropdown-item ps-3 pt-2" href="/department">Шуъба</a></li>
                    {% endif %}
                    {% if not not_main %}
                    <li class="nav-item">
                        <button class="nav-link link-dark dropdown-item ps-3 pt-2" data-bs-toggle="modal" data-bs-target="#modal"
                                hx-get="{% url 'update-user-info' %}" hx-target="#dialog">Профил</button></li>
                    {% endif %}
                    {% if user.is_staff %}
                    <li class="nav-item">
                      <a class="nav-link link-dark dropdown-item ps-3 pt-2" href="/admin" target=”_blank”>Мудирият</a></li>
                    {% endif %}
                    {% if not not_main %}
                    <li class="nav-item">
                        <button class="nav-link link-dark dropdown-item ps-3 pt-2" data-bs-toggle="modal" data-bs-target="#modal"
                                hx-get="{% url 'change-password' %}" hx-target="#dialog"> Ивази рамз</button></li>
                    {% endif %}
                    <li><hr class="dropdown-divider"></hr></li>
                    <li class="nav-item">
                        <a class="nav-link link-dark dropdown-item ps-3 " href="{% url 'logout'%}">Logout</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">{% block content %} {% endblock %}</div>
    <div id="modal" class="modal fade">
      <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>
  </body>
</html>