{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link
      rel="stylesheet"
      type="text/css"
      href = "{% static '/rms/css/bootstrap.css' %}"
    />
    <title>{% block title %}My WebSite{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">АМИТ | ИОМДОА</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/create-post"></a>
            </li>
          </ul>
        </div>

          <div>
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user.first_name}} {{user.last_name}}
            </a>
            <ul class="dropdown-menu bg-light me-10">
              <li class="nav-item"><a class="nav-link dropdown-item ps-3 pt-1" href="{% url 'logout'%}">Profile</a></li>
              <li class="nav-item"><a class="nav-link dropdown-item ps-3 pt-2" href="{% url 'logout'%}">Dep</a></li>
              <li><hr class="dropdown-divider"></hr></li>
              <li class="nav-item"><a class="nav-link dropdown-item ps-3 " href="{% url 'logout'%}">Logout</a></li>
            </ul>
          </div>
          </div>

        </div>
      </div>
    </nav>
    <div class="container-fluid">{% block content %} {% endblock %}</div>
    <script src="{% static '/rms/js/bootstrap.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
