{% extends 'main/base.html' %}
{% block title %}АСОСӢ{% endblock %}
{% block content %}
<!--   <div class="container-fluid ">-->
    <div class="row">
         <div class="col-md-3 bg-secondary"> Sidebar </div>
            <div class="col-md-9 bg-info">
                <h1 class="mx-auto">Content</h1>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">№</th>
                      <th scope="col">Номи мақола</th>
                      <th scope="col">Санаи нашр</th>
                      <th scope="col">Бештар</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark смич васмив</td>
                      <td>11-11-2022</td>
                      <td>->></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Mark смич васмив</td>
                      <td>11-11-2022</td>
                      <td>->></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Mark смич васмив</td>
                      <td>11-11-2022</td>
                      <td>->></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
<!--    </div>-->

{% endblock %}
