{% extends 'main/base.html' %}
{% block title %}АСОСӢ{% endblock %}
{% block content %}
<div class="row">
    <div id = "content" class="col-12 col-md-10 order-2 order-md-1">
    </div>

    <div class="col-12 col-md-2 order-1 order-md-2 border-left px-md-0 border-left border border-end-0 border-bottom-0 border-top-0 border-start-md-0">

        <div class="d-flex flex-column w-100">
            <button class="btn rounded-0 bg-light text-dark border border-top-0 border-end-0 border-start-0 fw-semibold" style="height:70px"
                hx-get="{% url 'plan' %}" hx-target="#content" hx-trigger="click, load">Нақшаи инфиродӣ</button>
            <button class="btn rounded-0 bg-light text-dark border border-top-0 border-end-0 border-start-0 fw-semibold" style="height:70px"
                hx-get="{% url 'article' %}" hx-target="#content" hx-trigger="click">Мақолаҳои илмӣ</button>
            <button href="#" class="btn rounded-0 bg-light text-dark border border-top-0 border-end-0 border-start-0 fw-semibold" style="height:70px">Мақолаҳои оммавӣ</button>
            <button href="#" class="btn rounded-0 bg-light text-dark border border-top-0 border-end-0 border-start-0 fw-semibold" style="height:70px">Барномаҳои телевизионӣ</button>
            <button href="#" class="btn rounded-0 bg-light text-dark border border-top-0 border-end-0 border-start-0 fw-semibold" style="height:70px">Барномаҳои радиоӣ</button>
            <button href="#" class="btn rounded-0 bg-light text-dark border border-top-0 border-end-0 border-start-0 fw-semibold" style="height:70px">Конфренсу саминарҳо</button>
            <button href="#" class="btn rounded-0 bg-light text-dark border border-top-0 border-end-0 border-start-0 fw-semibold" style="height:70px">Ҳисобот</button>
        </div>

    </div>
</div>
{% endblock %}
