
{% load crispy_forms_tags %} {% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
      rel="stylesheet"
      type="text/css"
      href = "{% static '/rms/css/bootstrap.css' %}"
    />
    <title>Воридшавӣ</title>
</head>
<body>
<div class="container-fluid d-flex flex-column min-vh-100" style="background: url({% static 'img/old-books-g390c2e304_1920.jpg' %}) center;">
    <nav class="row bg-light">
        <a class="col-12 col-md-2 text-center text-md-end"><img src="{% static 'img/school.png' %}" class="col-4 w-25 mt-1" alt="Logo"></a>
        <h4 class="font-weight-bold col-12 text-center col-md-10 text-md-start fw-bolder">Академияи Милли Илмҳои Тоҷикистон, <br>
                Иститути омӯзиши масъалаҳои давлатҳои Осиё ва Аврупо</h4>
     </nav>
    <div class="row align-items-center h-100 flex-grow-1">
        <div class="col-12 col-md-5">
            <div class="row justify-content-center m-2">
            <form action="" class="row col-12 col-md-8 bg-light rounded" method="post">
                {% csrf_token %}
                <img src="{% static 'img/icons8-login-rounded-100.png' %}" class="col-2 mt-2" alt="">
                <h1 class="col-9 fs-4 mt-2">Дохилшавӣ</h1>
                <img src="{% static 'img/icons8-name-100.png' %}" class="col-2  mt-3" alt="">
                <input class="col-10 mt-3" type="text" name="email" placeholder="Имейл...">
                <img src="{% static 'img/icons8-password-window-100.png' %}" class="col-2 mt-3" alt="">
                <input class="col-10 mt-3" type="password" name="password" placeholder="Рамз...">
                <a class="col-12 text-end mt-2" href=""></a>
                 <button type="submit" class="btn btn-secondary w-100 mb-2 mt-4">Воридшавӣ</button>
            </form>
            </div>
        </div>

        <div class="col-12 col-md-7">
            <div class="row justify-content-center m-2">
                <p class="col-12 col-md-7 text-white rounded p-3" style="background-color: rgba(0,0,0,.5);">Lorem ipsum dolor sit amet, consectetur adipiscing elit. venenatis sem vulputate. Suspendisse porttitor ornare mattis. Aenean dolor est, molestie et gravida eget, facilisis vitae leo. Duis lacinia mauris purus, eu rutrum neque commodo et.</p>
            </div>
        </div>
    </div>
    <footer class="row bg-light mt-auto">
        <div class="col-12 col-md-3">
            <h5 class="m-2">© 2023 АМИТ</h5>
        </div>
      <div class="col-12 col-md-3">
        <a href="#" class="d-flex mt-2 text-decoration-none row">
          <img src="{% static 'img/icons8-instagram-100.png' %}" class="col-2" alt="">
          <h5 class="text-dark col-10">Instagram</h5>
        </a>
      </div>
         <div class="col-12 col-md-3">
        <a href="#" class="d-flex mt-2 text-decoration-none row">
          <img src="{% static 'img/icons8-Facebook-100.png' %}" class="col-2" alt="">
          <h5 class="text-dark col-9">Facebook</h5>
        </a>
        </div>
        <div class="col-12 col-md-3">
        <a href="#" class="d-flex mt-2 text-decoration-none row">
          <img src="{% static 'img/icons8-Twitter-100.png' %}" class="col-2" alt="">
          <h5 class="text-dark col-9">Twitter</h5>
        </a>
        </div>
    </footer>
</div>
</body>
</html>
{% endblock %}
